[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
fastapi = "*"
aiohttp = "*"
uvloop = "*"
requests = "*"
uvicorn = "*"

[dev-packages]

[requires]
python_version = "3.11"
python_full_version = "3.11.8"

[scripts]
dev = "fastapi dev main.py"
prod = "fastapi run main.py --workers 3"
test = "python3 test.py"
testMulti = "python3 multiProc.py"
testMultiQ = "python3 multiProcQ.py"
